In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from secret1 import g_key
g_key = 'AIzaSyD5XLWpG2i4fdxni4VRTLk9r6ovKfcS8ig'

In [2]:
#Load the csv exported in Part I to a DataFrame
vacationDF = pd.read_csv('/Users/marinaduarte/Documents/nu-chi-data-pt-09-2020-u-c/06-Python-APIs/HW/Instructions/output_data/cities.csv')
vacationDF

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [59]:
#Configure gmaps.

gmaps.configure(api_key=g_key)

#Use the Lat and Lng as locations and Humidity as the weight.
locations = vacationDF[["Lat", "Lng"]].astype(float)
humidity = vacationDF["Humidity"].astype(float)

#Add heatmap layer to map
figure_layout = {
    'width': '600px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=90,
                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

In [35]:
#Narrow down the cities to fit weather conditions.

perfect_weather = vacationDF.loc[vacationDF['Max Temp'] < 90] #vacationDF['Max Temp'] > 60 &
# & vacationDF['Wind Speed'] < 10 & vacationDF['Cloudiness'] = 0 & vacationDF['Humidity'] < 50]
perfect_weather1 = perfect_weather.loc[perfect_weather['Max Temp'] > 60]
perfect_weather2 = perfect_weather1.loc[ perfect_weather1['Wind Speed'] < 10]
perfect_weather3 = perfect_weather2.loc[perfect_weather2['Cloudiness'] == 0]
perfect_weather4 = perfect_weather3.loc[perfect_weather3['Humidity'] < 50] 

#Drop any rows will null values.
perfect_weather5 = perfect_weather4.dropna()
perfect_weather5

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
371,371,carballo,0,ES,1558378860,44,43.21,-8.69,63.00,5.82
416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05

In [42]:
#Store into variable named hotel_df.

#hotel_df = []

#Add a "Hotel Name" column to the DataFrame.
perfect_weather5['Hotel Name'] = ""
#Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "hotel",
    "key": g_key
}
for index, row in perfect_weather5.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
#Hit the Google Places API for each city's coordinates.
  
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    
#Store the first Hotel result into the DataFrame.

    # Since some data may be missing I incorporated a try-except to skip any that are missing a data point.
    try:
        perfect_weather5.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        #perfect_weather5.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
#name_address
perfect_weather5

<ipython-input-42-927bc3b65c1d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perfect_weather5['Hotel Name'] = ""

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36,Sarai Meer
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,Nador
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20,Hami
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05,Arequipa
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78,Chiredzi
371,371,carballo,0,ES,1558378860,44,43.21,-8.69,63.00,5.82,Carballo
416,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36,Kirkuk
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,Birjand
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72,Bonito
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,Lempäälä
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,Yabrud

In [46]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfect_weather5.iterrows()]
locations = perfect_weather5[["Lat", "Lng"]]

In [48]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…